<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Units</ion-label>
      <ion-select [(ngModel)]="this.settingsProvider.settings.units.name" (ionChange)="updateSettings()">
        <ion-option value="metric">Metric (°C, m/s)</ion-option>
        <ion-option value="imperial">Imperial (°F, mph)</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
