page-weather {
  div.search-icon {
    display: flex;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 12em;
      opacity: 0.4;
    }
  }
}
