<ion-header>
  <ion-navbar>
    <ion-title>Weather</ion-title>
    <ion-buttons end>
      <button *ngIf="!showSearchbar" ion-button icon-only (click)="showHideSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button *ngIf="showSearchbar" ion-button icon-only (click)="showHideSearchbar()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="showSearchbar" [(ngModel)]="searchTerm" [animated]="true" [showCancelButton]="true" (search)="searchByCity(searchTerm)"
    placeholder="Search for a city"></ion-searchbar>
  <div class="search-icon" *ngIf="showSearchbar && !weatherSearchResponse">
    <ion-icon name="search"></ion-icon>
  </div>
  <ion-list *ngIf="!showSearchbar">
    <ion-list-header>Current location</ion-list-header>
    <weather-item *ngIf="currentWeather" [currentWeather]="currentWeather"></weather-item>
    <ion-item color="danger" *ngIf="geolocationError">There was an error retrieving weather for your current location.</ion-item>
  </ion-list>
  <ion-list *ngIf="weatherSearchResponse">
    <ion-item>
      <ion-note>{{weatherSearchResponse.count}} results</ion-note>
    </ion-item>
    <weather-item *ngFor="let item of weatherSearchResponse?.list" [currentWeather]="item"></weather-item>
  </ion-list>
</ion-content>
