weather-item {
  div.city {
    display: flex;
    align-items: center;

    h2 {
      font-weight: 700;
    }

    span {
      font-weight: 400;
      font-size: 1.1rem;
      opacity: 0.6;
      color: orangered;
    }
  }

  h3.weather-description {
    text-transform: capitalize;
  }
}
