<ion-item>
  <ion-icon item-start [name]="determineIcon(currentWeather.weather[0].description)"></ion-icon>
  <div class="city">
    <h2>{{currentWeather.name}}, {{currentWeather.sys.country}}&nbsp;</h2>
    <span>[{{currentWeather.coord.lat}}, {{currentWeather.coord.lon}}]</span>
  </div>
  <h3 class="weather-description">{{currentWeather.weather[0].description}}</h3>
  <p>Temperature: between {{currentWeather.main.temp_min |
    number:'1.1-1'}}{{settingsProvider.settings.units.temperature}}
    and {{currentWeather.main.temp_max |
    number:'1.1-1'}}{{settingsProvider.settings.units.temperature}}</p>
  <p>Wind: {{currentWeather.wind.speed | number:'1.1-1'}}{{settingsProvider.settings.units.windSpeed}}</p>
  <p>Clouds: {{currentWeather.clouds.all | number:'1.0-0'}}%</p>
  <ion-badge item-end>{{currentWeather.main.temp | number:'1.0-0'}}{{settingsProvider.settings.units.temperature}}</ion-badge>
</ion-item>
